.container{
    margin-top: 100px;
    .date-picker{
        width: 270px;
    }
        .lamdep{
            
            .label-upload{
                padding: 5px;
                border-radius: 3px;
                background: #ddd;
                cursor: pointer;
                &.hover{
                    opacity: 0;
                }
            }
            .preview-image{
                height: 50px;
                width: 100%;
                border: 1px solid #ddd;
                background: center center no-repeat;
                background-size: contain;
              
                cursor: pointer;
                
            }
    
        }
    
    }
    
    .title{
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    
    }
    